/*
  It is used only in Admin Questionnaire to have the text
  aligned to the left
*/
td.admintd {
    text-align: left;
}

/*
  It is used as a well-looking light background for
  the top of the page so that text can be easily read
*/
div.top{
    background-color: rgba(144, 238, 144, 0.479);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}

/*
  Used for everything to be centered in the table
*/
table{
    text-align: center;
    vertical-align: middle;
}