.welcome{
  background-color: lightblue;
  border-radius: 20px;
  border-color: black ;
  border-width: thin;
}


.display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 100%;
    padding-top: 20px;
  }
  
  .pie-container {
    align-items: center;
    overflow: clip;
    width: 300px;
    max-height: 350px;
    display: flex;
    margin: auto;
  }
  
  .big-container {
    display: relative;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

  }

  .chart-container {
    max-width: 350px;
    max-height: 350px;
  }

  .helpContainer{
    min-height: 200px;
  }

  .helpCenter{
    min-height: 200px;
    vertical-align: auto;
  }

  .iWantToDie{
    min-height:150px;
    vertical-align: middle;
  }