/*
  Used for the main container of the graphs page
*/
.welcome{
  background-color: rgba(144, 238, 144, 0.479);
  border-radius: 20px;
  border-color: black ;
  border-width: thin;
}

/*
  Used for div around graphs() to set the max sizes
*/
.chart-container {
  max-width: 350px;
  max-height: 350px;
}

/*
  Helps with having a minimum height so that buttons are
  not close and helps with the user experience
*/
.helpContainer{
  min-height: 200px;
}

/*
  TOBEREMOVED
*/
.helpCenter{
  min-height: 200px;
  min-width: 350px;
  vertical-align: middle;
  display: table-cell;
  justify-Content: center;
  align-Items: center;
}