/*
  ClassName used for the choosing of the file. Has black colour
  to be different from the upload button. There are hover and active
  differences as well
*/
.custom-file-upload {
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: bottom;
  color: #fff;
  background-color: #333;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 20px;
  color: white;
  transition: all 0.3s ease-in-out;
  display: flex;
}
.custom-file-upload:hover {
  background-color: #666;
  cursor: pointer;
}
.custom-file-upload:active {
  background-color: #999;
}