body {
  background-image: url("../public/Intelliq_background.webp");
  background-size: initial;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.1);
}

.container {
  display: inside;
  justify-content: center;
  align-items: center;
  height: 80%;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  font-style: italic;
  font-family: 'script';
  color: rgb(51, 161, 85);
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.934);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  align-items: center;
  margin: 0 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgb(24, 130, 72);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: lightblue;
}

.button:active {
  background-color: green;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
