/*
  body is used for the background image and its properties
*/
body {
  background-image: url("../public/Intelliq_background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

/*
  Is used for a basic container and to control how 
  the main part of the web app is shown
*/
.container {
  display: inside;
  justify-content: center;
  align-items: center;
  height: 80%;
  flex-direction: column;
  padding: 20px;
  /*box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
}

/*
  Used as the main type of Headers
*/
h1 {
  font-style: italic;
  font-family: 'script';
  color: rgb(51, 161, 85);
}

/*
  Used as the secondary type of Headers
*/
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.934);
}

/*
  Used as the third type of Headers
*/
h3{
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

/*
  Used to organise more than one buttons
*/
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/*
  Used as the main button className, with changes
  happening only in the colour. 
  When hover the pointer and the colour change and
  when active the colour changes again.
  The colours in the buttons are used based on functionality:
  Green is for page change
  Red is for all delete buttons
  Blue is for any other function needed, like upload, export, show graphs...
*/
.button {
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  align-items: center;
  margin: 0 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgb(24, 130, 72);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: lightblue;
  cursor: pointer;
}

.button:active {
  background-color: green;
}

/*
  Used for the change of colour to red. Needs to be used with
  the "button" className for proper results.
*/
.redColor{
  background-color: rgb(121, 9, 9);;
}
.redColor:hover {
  background-color: red;
  cursor: pointer;
}
.redColor:active {
  background-color: rgba(255, 0, 0, 0.523);
}

/*
  Used for the change of colour to blue. Needs to be used with
  the "button" className for proper results.
*/
.blueColor{
  background-color: rgb(34, 34, 185);
}
.blueColor:hover {
  background-color: rgb(64, 64, 230);
  cursor: pointer;
}
.blueColor:active {
  background-color: rgba(64, 64, 230, 0.552);
}